{%extends 'base.html'%}

{% block header %}
    <h1>{% block title %} Graficas {% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('graph.create') }}">Nuevo</a>
    {% endif %}
{% endblock %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for graph in graphs %}
      <div class="col">
        <div class="card">
          <img src="{{ graph['image']['data'] }}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title"><a href="{{ url_for('graph.get_graph_by', graph_id=graph['id']) }}">{{ graph['name'] }}</a></h5>
            <p class="card-text">Created by {{ graph['created_by']['username'] }}.</p>
            <p class="card-text"><small class="text-muted">Last updated {{ graph['created_at'].strftime('%Y-%m-%d') }}</small></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}