{%extends 'base.html'%}

{% block header %}
    <h1>{% block title %} Reportes {% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('reports.create') }}">Nuevo</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Author</th>
          <th scope="col">Created at</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
        <tr>
          <th scope="row">{{ loop.index0+1 }}</th>
          <td><a class="action" href="{{ url_for('graph.index', report_id=report['id']) }}">{{ report['name'] }}</a></td>
          <td>{{ report['created_by']['username'] }}</td>
          <td>{{ report['created_at'].strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}