{%extends 'base.html'%}

{% block header %}
    <h1>{% block title %} Reportes {% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('report.create') }}">Nuevo</a>
    {% endif %}
{% endblock %}

{% block content %}
  {% for report in reports %}
    <article class="post">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('graph.index', report_id=report['id']) }}">{{ report['name'] }}</a></h1>
          <div class="about">by {{ report['created_by']['username'] }} on {{ report['created_at'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == report['created_by'] %}
          <a class="action" href="{{ url_for('report.update', id=report['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}